/*
 * @file
 * sitenow_people
 *
 * - styles related for basic theming of sitenow_people. Color and other customizations should take place at a higher level
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/standard\/sites\/all\/modules\/features\/sitenow_people\/theme\/sass\/sitenow_people\.scss}line{font-family:\0000312}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/standard\/sites\/all\/modules\/features\/sitenow_people\/theme\/sass\/sitenow_people\.scss}line{font-family:\0000321}}
.view-display-id-panel_pane_people_grid .views-row {
  width: 25%;
  float: left;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/standard\/sites\/all\/modules\/features\/sitenow_people\/theme\/sass\/sitenow_people\.scss}line{font-family:\0000326}}
.view-display-id-panel_pane_people_grid .views-field-title, .view-display-id-panel_pane_people_grid .views-field-field-person-position {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/standard\/sites\/all\/modules\/features\/sitenow_people\/theme\/sass\/sitenow_people\.scss}line{font-family:\0000333}}
.page-type-people .field-name-field-person-image {
  float: none;
  clear: none;
  margin: 0 0 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/standard\/sites\/all\/modules\/features\/sitenow_people\/theme\/sass\/sitenow_people\.scss}line{font-family:\0000338}}
.page-type-people .field-name-field-person-image img {
  min-width: 100%;
  border: 1px solid #cccccc;
  padding: 3px;
  background-color: #e1e1e1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/standard\/sites\/all\/modules\/features\/sitenow_people\/theme\/sass\/sitenow_people\.scss}line{font-family:\0000344}}
.page-type-people .pane-node-title {
  font-weight: bold;
  font-size: 3em;
}
